@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Light theme colors */
:root {
  --color-primary: #0d0dec;
  --color-secondary: #1fafec;
}

/* Dark theme colors */
[data-theme="dark"] {
  --color-secondary: #38BDF8;
}


@custom-variant dark (&:where([data-theme=dark], .[data-theme=dark ]*));



/* Button */

.primary-btn {
  @apply bg-[#ff6900] hover:bg-orange-600 mt-3 text-white py-2.5 px-3.5 rounded-sm transition-colors duration-200 cursor-pointer
         dark:bg-orange-500 dark:hover:bg-orange-600;
}

.delete-btn {
  @apply bg-black hover:bg-gray-800 mt-3 text-white py-2.5 px-3.5 rounded-sm transition-colors duration-200 cursor-pointer
         dark:bg-red-600 dark:hover:bg-red-700;
}

.success-btn {
  @apply flex items-center gap-1 bg-[#ff6900] hover:bg-orange-600 text-white px-4 py-2 rounded-md transition duration-200 cursor-pointer
         dark:bg-orange-500 dark:hover:bg-orange-600;
}

.danger-btn {
  @apply flex items-center gap-1 bg-black hover:bg-gray-800 text-white px-4 py-2 rounded-md transition duration-200 cursor-pointer
         dark:bg-red-600 dark:hover:bg-red-700;
}

.tab-select {
  @apply bg-[#ff6900] mt-3 text-white py-2.5 px-3.5 hover:bg-orange-600 transition-colors cursor-pointer outline-0
         dark:bg-orange-500 dark:hover:bg-orange-600;
}

/* Status Tags */
.status-success {
  @apply px-2 py-1 bg-orange-100 text-orange-700 rounded text-xs
         dark:bg-orange-900 dark:text-orange-300;
}

.status-error {
  @apply px-2 py-1 bg-black text-white rounded text-xs
         dark:bg-red-900 dark:text-red-300;
}

.status-pending {
  @apply px-2 py-1 bg-orange-100 text-orange-700 rounded text-xs
         dark:bg-orange-900 dark:text-orange-300;
}

.user-tag {
  @apply px-2 py-1 bg-black text-white rounded text-xs
         dark:bg-gray-800 dark:text-gray-200;
}
