@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Light theme colors */
:root {
  --color-primary: #0d0dec;
  --color-secondary: #1fafec;
}

/* Dark theme colors */
[data-theme="dark"] {
  --color-secondary: #38BDF8;
}


@custom-variant dark (&:where([data-theme=dark], .[data-theme=dark ]*));

.btn {
  @apply bg-white text-primary border border-primary rounded-md px-4 py-2 hover:bg-secondary hover:text-white transition;
}
